MinecraftForge/
.gradle/
.settings/
build/
eclipse/
gradle/
.classpath
.project
gradlew
gradlew.bat
config/
mods/
saves/
options.txt
usernamecache.json
resourcepacks/
logs/
bin/
libs/
/build.gradle
/crash-reports/
